{% set s1 = stages[0] or 'active' %}
{% set s2 = stages[1] or 'inactive' %}
{% set s3 = stages[2] or 'inactive' %}
{% set s4 = stages[3] or 'inactive' %}
{% set s5 = stages[4] or 'inactive' %}
{% set s6 = stages[5] or 'inactive' %}
{% set s7 = stages[6] or 'inactive' %}
{% set s8 = stages[7] or 'inactive' %}
{% set s9 = stages[8] or 'inactive' %}
{% if s1 != 'active' %}{% set class = 'stage-1' %}{% endif %}
{% if s2 != 'active' %}{% set class = 'stage-2' %}{% endif %}
{% if s3 != 'active' %}{% set class = 'stage-3' %}{% endif %}
{% if s4 != 'active' %}{% set class = 'stage-1' %}{% endif %}
{% if s5 != 'active' %}{% set class = 'stage-2' %}{% endif %}
{% if s6 != 'active' %}{% set class = 'stage-3' %}{% endif %}
{% if s7 != 'active' %}{% set class = 'stage-1' %}{% endif %}
{% if s8 != 'active' %}{% set class = 'stage-2' %}{% endif %}
{% if s9 != 'active' %}{% set class = 'stage-3' %}{% endif %}

<ol class="ueb-stages {{ class }}" start="1">
	
	  <li class="first {{ s1 }}">
	     {% if s1 == 'active' %}
		     <button class="highlight"  name="edit_1">
		     	<span class="highlight">{{ _('Model Domain') }}</span>  
		     </button>	      	 
	     {% else %}
		     <button class="ueb-invisible-button" name="edit_1">
		     	<span class="">{{ _('Model Domain') }}</span>   
		     </button>
	     {% endif %}
	  </li>
	  <li class="middle {{ s2 }}">
	     {% if s2 == 'active' %}
		     <button class="highlight" name="edit_2">
		      	<span class="highlight">{{ _('Parameters') }}</span>  
		     </button>   
	     {% else %}
		      <button class="ueb-invisible-button" name="edit_2">
		     	<span class="">{{ _('Parameters') }}</span>   
		     </button>
	     {% endif %}      
	  </li>  
	  <li class="last {{ s3 }}">
	     {% if s3 == 'active' %}
		     <button class="highlight"  name="edit_3">
		      	<span class="highlight">{{ _('Initial Conditions') }}</span>    
		     </button> 
	     {% else %}
		     <button class="ueb-invisible-button" name="edit_3">
		     	<span class="">{{ _('Initial Conditions') }}</span>   
		     </button>
	     {% endif %}      
	  </li>  
  
</ol>

<ol  class="ueb-stages {{ class }}" stage="4" >  
  
  <li class="first {{ s4 }}" value="4">
     {% if s4 == 'active' %}
	      <button class="highlight"  name="edit_4">
	      	<span class="highlight">{{ _('Snow Condtions') }}</span> 
	      </button>    
     {% else %}
	     <button class="ueb-invisible-button" name="edit_4">
	     	<span class="">{{ _('Snow Condtions') }}</span> 
	     </button>  
     {% endif %}
  </li>
  
  <li class="middle {{ s5 }}">
     {% if s5 == 'active' %}
	     <button class="highlight"  name="edit_5">
	      	<span class="highlight">{{ _('Land Cover') }}</span>   
	     </button>  
     {% else %}
	     <button class="ueb-invisible-button" name="edit_5">
	     	<span class="">{{ _('Land Cover') }}</span>   
	     </button>
     {% endif %}
  </li>
  
  <li class="last {{ s6 }}">
     {% if s6 == 'active' %}
	     <button class="highlight"  name="edit_6">
	      	<span class="highlight">{{ _('Geographic Variables') }}</span>  
	     </button>   
     {% else %}
	     <button class="ueb-invisible-button" name="edit_6">
	     	<span class="">{{ _('Geographic Variables') }}</span> 
	     </button>  
     {% endif %}
  </li>
  
</ol>
 
<ol  class="ueb-stages {{ class }}" stage="7" >  
  <li class="first {{ s7 }}">
     {% if s7 == 'active' %}
	     <button class="highlight"  name="edit_7">
	      	<span class="highlight">{{ _('Bristow Cambell') }}</span>   
	     </button>  
     {% else %}
	     <button class="ueb-invisible-button" name="edit_7">
	     	<span class="">{{ _('Bristow Cambell') }}</span> 
	     </button>  
     {% endif %}
  </li>
   
   <li class="middle {{ s8 }}">
     {% if s8 == 'active' %}
	     <button class="highlight"  name="edit_8">
	      	<span class="highlight">{{ _('Weather Variables') }}</span>  
	     </button>   
     {% else %}
	     <button class="ueb-invisible-button" name="edit_8">
	     	<span class="">{{ _('Weather Variables') }}</span>  
	     </button>
     {% endif %}
  </li> 
  
  <li class="last {{ s9 }}">
     {% if s9 == 'active' %}
	     <button class="highlight"  name="edit_9">
	      	<span class="highlight">{{ _('Outputs') }}</span>  
	     </button>   
     {% else %}
	     <button class="ueb-invisible-button" name="edit_9">
	     	<span class="">{{ _('Outputs') }}</span>
	     </button>   
     {% endif %}
  </li> 
  
</ol>