{% extends "page.html" %}
{% block subtitle %}{{ _('UEB Package Create Request') }}{% endblock %}
{% block breadcrumb_content %}
  <li class="active">{% link_for _('Create UEB Package'), controller='ckanext.uebpackage.controllers.packagecreate:PackagecreateController', action='packagecreateform' %}</li>
{% endblock %}

{% block primary_content %}
  <section class="module span9 offset5">
    <div class="module-content">
    	{% block ueb_pkg_create_note %}
			<span class="info-block info-block">
	      		<i class="icon-info-sign"></i>
	      		{{ _('Your request for creating a UEB model package is now in a queue.') }} <br />
	      		{{ _('Request processing Job ID:') }} {{ c.request_process_job_id }}
	    	</span>
		{% endblock %}	
    </div>
   </section>
{% endblock %}
