{% extends "page.html" %}
{% block subtitle %}{{ _('UEB Run Request') }}{% endblock %}
{% block breadcrumb_content %}
  <li class="active">{% link_for _('Run UEB'), controller='ckanext.uebpackage.controllers.uebexecute:UEBexecuteController', action='select_model_package' %}</li>
{% endblock %}

{% block primary_content %}
  <section class="module span9 offset5">
    <div class="module-content">
    	{% block ueb_run_note %}
			<span class="info-block info-block">
	      		<i class="icon-info-sign"></i>
	      		{{ _('Your request for executing UEB is now in a queue.') }} <br />
	      		{{ _('UEB run job ID:') }} {{ c.ueb_run_job_id }}
	    	</span>
		{% endblock %}	
    </div>
   </section>
{% endblock %}