{% extends "page.html" %}
{% import 'macros/form.html' as form %}
{{ form.errors(error_summary, type="warning") }}
{% set data = data or {} %}
{% set errors = errors or {} %}
{% set stages = stages or {} %}
{% set action = form_action or h.url_for(controller='ckanext.uebpackage.controllers.uebexecute:UEBexecuteController', action='execute') %}

{% block subtitle %}{{ _('Execute UEB') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Execute UEB'), controller='ckanext.uebpackage.controllers.uebexecute:UEBexecuteController', action='select_model_package' %}</li>
{% endblock %}
{%- block scripts %}
  {{ super() }}
  
{% endblock -%}
{% block secondary_content %}
	{% block info_module %}
		<section class="module module-narrow module-shallow">
			<div class="module-content">
		    	<p>
		    		Ueb model input packages that you have created which have never been submitted for execution before are listed here for selection.
		    		The name of the input model package file name followed by the name of the dataset that contains it is shown in the list.
		    	</p>		    			
			</div>	
	    </section>	   
    {% endblock %}
{% endblock %}
{% block primary_content %}
    <section class="module offset1" >
        <div class="module-content">
            {% block error_summary %}
                {{ form.errors(error_summary) }}
            {% endblock %}            
            <form name="execute_ueb" method="get" action="{{ action }}" class="form-vertical" role="form">
                {% block form_field_select_model_package_file %}				    		  	
		    		<div id="UEBInputPackageFileSelection" class="form-group">	
		    			{% if c.ueb_input_model_packages %}
		    				<label >Select a model input package to execute</label>			    			  		
		    			
			    			<select id="field-model-pkgfile" name="uebpkgfile_id" data-module="autocomplete" class="form-control" style="width:100%" >
			    				{#<option value="" {% if not data.selected_pkg_file_id %} selected {% endif %}>{{ _('Select a model input package file...') }}</option>#}
			    				{% for file in c.ueb_input_model_packages %}
			    					<option value="{{ file.id }}" {% if data.ueb_package_file_id == file.id %} selected="selected" {% endif %}>{{ file.name }}</option>
			    				{% endfor %}
			    			</select>		    		
			    			<p>
								<button class="btn btn-primary" id="btn_execute" name="execute" value="execute_ueb" type="submit">{{ _('Execute UEB') }}</button>
							</p>
						{% else %}							
							<p class="text-warning">
								There are no input packages currently available for execution.
							</p>
		    			{% endif %}		
			    		   			
		    		</div>		
		    			    	
			    {% endblock %}	
             </form>
         </div>
     </section>

{% endblock %}